* {
	box-sizing: border-box;
}

body {
	background-color: #fcfcfc;
	background: url(http://www.designbolts.com/wp-content/uploads/2012/12/White-wall-Seamless-Pattern-For-Website-Background.jpg);
	background-size: repeat;
}

h1 {
	text-align: center;
	font-family: 'Paytone One';
	font-size: 3em;
	font-weight: 600;
}
h2 {
	display: inline-block;
	font-weight: 600;
	font-size: 1.5;
	font-family: helvetica;
}
p {
	font-family: helvetica;
	font-size: 1.2em;
	font-weight: 600;
}
select {
	padding: 8px;
	border-radius: 4px;
	border: 2px solid #e2e2e2;
	display: inline-block;
	margin: 0 3px 0 3px;
	font-weight: 600;
	font-size: 1.2em;
}
option {
	display: inline-block;
}
input {
	border: 2px solid #e2e2e2;
	border-radius: 4px;
	padding: 6px;
	margin: 0 0 0 3px;
	font-family: helvetica;
	font-weight: 600;
	font-size: 1.2em;
}
.wrapper {
	text-align: center;
}
.inline1{
	display: inline-block;
}
.inline2{
	display: inline-block;
}
.js-etsy-results {
	position: absolute;
	left: 10%;
}

.button {
	padding: 10px 100px;
	margin: 20px 0;
	border-radius: 4px;
	border: 2px solid #e2e2e2;
	background-color: white;
	font-family: helvetica;
	font-weight: 600;
	font-size: 1.2em;
}

.select:hover {
	border: 2px solid #75aaff;
}
.button:hover {
	border: 2px solid #75aaff;
}

.entry {
	background-color: white;
	border-radius: 4px;
	display: inline-block;
	width: 24%;
	max-height: 380px;
	height: 380px;
	padding: 10px;
	overflow: hidden;
	margin: 5px;
	border: 2px solid #e2e2e2;
}

.entry-title {
	height: 30%;
}

.entry-img {
	height: 70%;
}

.img-render {
	width: 100%;
	height: auto;
	margin-bottom: 0px;
}
